# MercadoPago
MP_ACCESS_TOKEN=TEST-xxxx

# URLs de las otras apps
BUYER_APP_URL=http://localhost:3001
SELLER_APP_URL=http://localhost:3002
SHIPPING_APP_URL=http://localhost:3003

# URL de este proyecto (cambiar en producción)
NEXT_PUBLIC_URL=https://tu-dominio.vercel.app

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

# Base de datos
DATABASE_URL=postgresql://...